{% extends "accounts/base.html" %}
{% load static %}

{% block css %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Molengo&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ruda:wght@400..900&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <h2 class="message" style="background-color: red">{{ message }}</h2>
        {% endif %}
    {% endfor %}
{% endif %}

<form method ="POST">

    {% csrf_token %}

    <section class="section1">
        <div class="container">
            <div class="info-svg">
                <div class="vip-info">
                    <div class="model-info">
                        <div class="cart1">
                            <img src="{% static 'accounts/img/assets/svg/coca-form.svg'%}" alt="">
                            <h2>Coca</h2>
                        </div>
                        <div class="cart2">
                            <h3>Login form</h3>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                        </div>
                        <div class="input-lock">
                            <div class="input-style">
                                <h4 class="user-style">Username</h4>
                                <div class="imgsvg">
                                    <span><img src="{% static 'accounts/img/assets/svg/info.svg'%}" alt=""></span>
                                    <input type="text" class="form-control" placeholder="Enter Username" name = "username">
                                </div>
                            </div>

                            <div class="input-style2">
                                <h4 class="user-style">Password</h4>
                                <div class="imgsvg">
                                    <span><img src="{% static 'accounts/img/assets/svg/info.svg'%}" alt=""></span>
                                    <input type="password" class="form-control"  placeholder="Enter Password" name="password">
                                </div>
                            </div>
                            <div class="Forgot">
                                <h3>Forgot password?</h3>
                            </div>
                        </div>
                        <div class="section-btn">
                            <button type="submit" class="btn btn-secondary">Login</button>

                        </div>

                        <div class="lost-child">
                            <h4>End user agreement</h4>
                        </div>
                        <a href="/accounts/register/">Регистрация</a>
                    </div>

                </div>

            </div>

        </div>



    </section>
</form>


{% endblock %}